
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

.filtrer {
  margin-top: 1rem;
}
#next, #prev {
    color: #212529;
    cursor: pointer;
}

.detail-film {
    width: 100%;
}

#navPagination {
  display: none;
}

#footer {
  display: none;
}
