.main-container {
  /* border: 3px solid gray; */
  display: flex;
  width: 100vw;
  margin: auto;
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
}

.actor-identity {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: lightgray;
  /* border: 1px solid red; */
  /* margin: 10px; */
  /* padding: 10px; */
}

.actor-info {
  display: flex;
  margin-top: 100px;
  height: 100vh;
  margin-left: 100px;
  width: 60vw;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* border: 1px solid gold; */
  /* margin: 10px; */
  /* padding: 10px; */
}

.actor-image {
  border-radius: 20%;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.scrollable {
  height: 550px;
  overflow: scroll;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
  padding: 20px;
}

.movie-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 10px;
  gap: 10px;
}

.movie-poster {
  width: 100px;
  height: auto;
  border-radius: 20%;
}

.movie-title {
  margin: 10px;
  font-size: 24px;
}

.movie-year {
  margin: 10px;
  font-size: 16px;
  color: lightgray;
}

.movie-genre {
  margin: 10px;
  font-size: 18px;
  color: gray;
}

.movie-info {
  flex-grow: 1;
  text-align: left;
}

.movie-summary {
  padding-left: 50px;
}

.edit-icon {
  cursor: pointer;
  /* font-size: 20px;
  margin-left: 10px;
  vertical-align: middle; */
}

.modal-content form {
  text-align: left;
  align-content: center;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content form label,
.modal-content form input {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}

.modal-content form button {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-content form input,
.modal-content form button {
  width: 70%;
  box-sizing: border-box;
}

.modal {
  display: none; /* Hidden by default */
  position: relative; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}